# Ignore:
docs/*
ignore/*

# Python:
.venv/*
__pycache__/*
*$py.class
*.pyc
*.pyd
*.pyo
*.so

# IDE:
.idea/*
.vscode/*
*.code-workspace
*.sublime-project
*.sublime-workspace
*.suo

# OS:
.DS_Store
desktop.ini
Thumbs.db
